<div class="modal-dialog modal-lg">

  <form class="modal-content animate" #signupForm = "ngForm" (ngSubmit) = "submit(signupForm.value)">
    <div class="imgcontainer">
        <span class="close" title="Close Modal" data-dismiss="modal">&times;</span>
    </div>
    
    <div class="container">
      <label for="fname">
        <b>First Name</b>
      </label>
      <input type="text" placeholder="Enter First Name" name="fname" required ngModel>

      <label for="lname">
          <b>Last Name</b>
      </label>
      <input type="text" placeholder="Enter Last Name" name="lname" required ngModel>

      <label for="email">
          <b>Email</b>
      </label>
      <input type="email" placeholder="Enter email" name="email" required ngModel>

      <label for="psw">
        <b>Password</b>
      </label>
      <input type="password" placeholder="Enter Password" name="psw" required ngModel>

      <label for="rpsw">
          <b>Retype Password</b>
        </label>
        <input type="password" placeholder="Enter Password" name="rpsw" required ngModel>

      <button type="submit">Sign Up</button>
    </div>
  </form>

</div>